<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
        {% endblock %}
        </body>

        {% block javascripts %}
        {% endblock %}
        </body>
    </head>

    <body>
    I'm the layout

        {% block content %}
        {% endblock %}
    </body>
</html>